@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 248 255;
    --foreground: 31 41 55;
  }
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
  scroll-behavior: smooth;
}

body {
  background-color: #F6F8FF;
  color: #1F2937;
}